data
venv

__pycache__
imdbData
namesDataModifier.py
ratingsDataModifier.py
titlesDataModifier.py
testData2/namesAliveCut.xlsx
testData2/ratings.xlsx
testData2/titles2020.xlsx
exportedData.xlsx
projectOutline.md
principalsDataModifier.py
data.xlsx
customData/ActorsWPrincipals.csv
customData/principalsActorsActressesOnly.csv
